/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 juil. 2017, 08:48:59
    Author     : travail
*/

#header_img {
    background-image: url("../img/banniere.jpg");
    height: 150px;
}
.admin{
    visibility: visible;
}
.etu{
    display:none;
}